<div class="main__admin_1">
    <div class="text__admin">Quản lí</div>
    <div class="table__actions">
        <div class="btn_action">
            <a href="/admin/addfilm">
                Thêm phim
            </a>
        </div>
        <div class="btn_action bg-success">
            <a href="/admin/updatefilm">
                Sửa phim
            </a>
        </div>
        <div class="btn_action bg-danger">
            <a href="/admin/deletefilm">
                Xóa phim
            </a>
        </div>
    </div>
</div>