<div class="background__app">
    <span></span>
<div class="add__flims_main">
    <div class="add_main">
        <div class="text-light text-center">{{msg}}</div>
        <form action="/admin/addfilm" method="POST">
            <div class="input__add">
                <label for="">Tên phim</label>
                <input type="text" name="ten">
            </div>
            <div class="input__add">
                <label for="">Thể loại</label>
                <select name="theloai">
                    <option value="Hành động">Hành động</option>
                    <option value="Tình cảm">Tình cảm</option>
                    <option value="Viễn tưởng">Viễn tưởng</option>
                </select>
            </div>
            <div class="input__add">
                <label for="">Link</label>
                <input type="text" name="link">
            </div>
            <div class="input__add">
                <label for="">Nội dung</label>
                <input type="text" name="noidung">
            </div>
            <div class="input__add">
                <input class="btn__add" type="submit" value="Đăng phim">
            </div>
        </form>
    </div>
</div>
</div>