/* HOME 1 */

.background__app {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
    min-height: 100vh;
}

.background__app > span {
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(#0000003a, #000000de);
    height: 100%;
    width: 100%;
}

.text__home {
    text-align: center;
    width: 50%;
    z-index: 1;
}

.text__home-1 {
    color: #ffffff;
    font-weight: 550;
    font-size: 60px;
}

.text__home-2 {
    display: block;
    color: #ffffff;
    font-size: 25px;
}

.btn__home {
    cursor: pointer;
    width: 30%;
    margin: auto;
    border-radius: 1rem;
    margin-top: 30px;
    background-color: red;
    color: #ffffff;
}

.btn__home > a{
    text-decoration: none;
    display: block;
    border-radius: 1rem;
    padding: 5px 20px;
    color: #ffffff;
}

.home__app1 {
    border-top: 10px solid #1e1e1e;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
}

.home__app1_text-1 {
    color: #ffffff;
    font-size: 50px;
}

.home__app1_text-2 {
    color: #ffffff;
    font-size: 25px;
}

.home__app1_img {
    position: relative;
}

.img__video {
    position: relative;
    z-index: 2;
}

.our-story-card-video {
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 10%;
    left: 18%;
}


/* HOME 2 */

.home__login {
    min-height: 100vh;
    background: #1e1e1e;
    padding-top: 100px;
    padding-bottom: 80px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.all__main_films {
    padding: 20px;
    padding-bottom: 50px;
    background-color: #00000091;
    width: 90%;
    margin: auto;
    border-radius: .3rem;
    min-height: 80vh;
}

.all__films-title {
    color: #ff9100;
    font-size: 30px;
    font-weight: 500;
}

.all__films-cards {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
}

.card-item {
    width: 23%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    word-wrap: break-word;
    background-color: black;
    margin-top: 4%;
    min-height: 370px;
    margin-left: 1.5%;
    transition: .3s;
    box-shadow: 0 0 3px #ffffff;
}

.hot {
    position: absolute;
    background-color: red;
    padding: 5px;
    text-align: center;
    min-width: 20%;
    color: #ffffff;
    text-shadow: 0 0 4px #ffffff;
    left: 0;
    top: 20px
}

.hot::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    border-bottom: 17px solid red;
    border-top: 17px solid red;
    border-right: 10px solid transparent;
}

.card-item:hover {
    box-shadow: 0 0 10px #ffffff;
}

.card-item > a {
    padding: 10px;
    display: block;
    padding-bottom: 30px;
    text-decoration: none;
}

.card-item-img {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    min-height: 250px;
    max-height: 260px;
}

.card-item-img > img {
    transition: .3s;
    width: 100%;
}

.card-item > a:hover > .card-item-img > img {
    width: 120%;
}

.card-item-name {
    color: chocolate;
    font-size: 20px;
    font-weight: 650;
    margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-item-info {
    margin-top: 10px;
    color: #ffffff;
}

.pagination2 {
    margin-top: 30px;
    display: block;
}

.page-item2 {
    display: inline-block;
}

.page-item2 > a {
    text-decoration: none;
    background-color: black;
    padding: 5px 20px;
    color: #ffffff;
}

.active2 {
    font-weight: 650;
    box-shadow: 0 0 8px #ffffff;
}


/* search */

.search {
    margin-bottom: 40px;
}

.form_search > input {
    outline: none;
    border: none;
    padding: 10px 20px;
    min-width: 400px;
}

.form_search > button {
    outline: none;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    margin-left: -5px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}

.form_search > button:hover {
    opacity: .8;
    cursor: pointer;
}

/* delete */

.btn_delete {
    margin-left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 100%;
}

.btn_delete > a {
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    background-color: red;
    color: #ffffff;
}

.btn_delete > a:hover {
    opacity: .7;
}