<div class="search">
    <form class="form_search" action="/timkiem" method="POST">
        <input type="text" name="tukhoa" placeholder="Nhập từ muốn tìm kiếm ...">
        <button>Tìm kiếm</button>
    </form>
</div>